Assignment_3

In [110]:

# !pip install -r requirements.txt

# this library is to manipulate browser
from selenium import webdriver

# it allows you to work with differen versions of drivers
# We call ChromeDriver
# from webdriver_manager.chrome import ChromeDriverManager
import re
import time 
from selenium.webdriver.common.by import By

#After we install libraries and set drivers, we are going to use the chrome driver to navigate the website

In [111]:
#We entered to the website and detected a frame.
driver = webdriver.Chrome()
url = "https://apps5.mineco.gob.pe/transparencia/Navegador/default.aspx?y=2014&ap=ActProy"
driver.get(url)

In [112]:
driver.maximize_window()

In [113]:
frames = driver. find_elements (By. TAG_NAME, "frame")
if frames:
    print ('There are frames in this web page.')
    for i, frame in enumerate (frames) :
        frame_html = frame.get_attribute ( 'outerHTML')
        print (f'HTML code of frame (i) :')
        print (frame_html)
    else:
        print ('No frames found on the page')

There are frames in this web page.
HTML code of frame (i) :
<frame name="frame0" id="frame0" src="Navegar.aspx?y=2014&amp;ap=ActProy" scrolling="yes">
No frames found on the page

In [114]:
frame = driver.find_element (By . ID, "frame0" )
driver.switch_to.frame (frame)

In [115]:
#We select the government level
driver.find_element( By.ID, 'ctl00_CPH1_BtnTipoGobierno').click()

In [116]:
#We choose regional governments, and then sheet
driver.find_element(By.ID,"tr2").click()
time.sleep(2)
driver.find_element( By.ID, 'ctl00_CPH1_BtnSector').click()

In [117]:
driver.find_element(By.ID,"tr1").click()
time.sleep(2)
driver.find_element( By.ID, 'ctl00_CPH1_BtnPliego').click()

In [118]:
#We choose Cajamarca and then the budget category button
driver.find_element(By.ID,"ctl00_CPH1_RptData_ctl06_TD0").click()
time.sleep(2)
driver.find_element( By.ID, 'ctl00_CPH1_BtnProgramaPpto').click()

In [119]:
from io import StringIO

In [120]:
#We show a table with full data
table_element = driver.find_element( By.XPATH, "//table[@class='Data']" )
table_html    = table_element.get_attribute( 'outerHTML' )
table_html_io = StringIO( table_html )
table_df      = pd.read_html( table_html_io )[ 0 ]

In [121]:
table_df.head( 5 )

,0,1,2,3,4,5,6,7,8,9
0,NaN,0001: PROGRAMA ARTICULADO NUTRICIONAL,41044909,96316564,89869230,89775394,89775394,89449235,89252944,92.9
1,NaN,0002: SALUD MATERNO NEONATAL,40874153,129843358,98844328,98603032,98603032,98349852,98264496,75.7
2,NaN,0016: TBC-VIH/SIDA,8746106,15459231,14399714,14399286,14399286,14220827,14150232,92.0
3,NaN,0017: ENFERMEDADES METAXENICAS Y ZOONOSIS,6306241,10774383,10622811,10622811,10622811,10606563,10605373,98.4
4,NaN,0018: ENFERMEDADES NO TRANSMISIBLES,8484164,16957499,16594047,16585849,16585849,16539224,16537581,97.5

In [122]:
#Later we include the columns
headers_elements_r0 = driver.find_element( By.XPATH, '//*[@id="ctl00_CPH1_Mt0_Row0"]' ).find_elements( By.TAG_NAME, 'td' )
headers_r0          = [ element.text for element in headers_elements_r0 ]

headers_elements_r1 = driver.find_element( By.XPATH, '//*[@id="ctl00_CPH1_Mt0_Row1"]' ).find_elements( By.TAG_NAME, 'td' )
headers_r1          = [ element.text for element in headers_elements_r1 ]

print( headers_r0, headers_r1, sep = '\n' )

[' ', 'Categoría Presupuestal', 'PIA', 'PIM', 'Certificación', 'Compromiso Anual', 'Ejecución', 'Avance % ']
['Atención de Compromiso Mensual ', 'Devengado ', 'Girado ']

In [123]:
headers_r0 = [ header for header in headers_r0 if header not in [ 'Ejecución', 'Avance % ' ] ]
headers = headers_r0 + headers_r1 + [ 'Avance %' ]
print( headers )

[' ', 'Categoría Presupuestal', 'PIA', 'PIM', 'Certificación', 'Compromiso Anual', 'Atención de Compromiso Mensual ', 'Devengado ', 'Girado ', 'Avance %']

In [124]:
table_df.columns = headers
table_df = table_df.drop( table_df.columns[ 0 ], axis = 1 )
table_df.head( 5 )

,Categoría Presupuestal,PIA,PIM,Certificación,Compromiso Anual,Atención de Compromiso Mensual,Devengado,Girado,Avance %
0,0001: PROGRAMA ARTICULADO NUTRICIONAL,41044909,96316564,89869230,89775394,89775394,89449235,89252944,92.9
1,0002: SALUD MATERNO NEONATAL,40874153,129843358,98844328,98603032,98603032,98349852,98264496,75.7
2,0016: TBC-VIH/SIDA,8746106,15459231,14399714,14399286,14399286,14220827,14150232,92.0
3,0017: ENFERMEDADES METAXENICAS Y ZOONOSIS,6306241,10774383,10622811,10622811,10622811,10606563,10605373,98.4
4,0018: ENFERMEDADES NO TRANSMISIBLES,8484164,16957499,16594047,16585849,16585849,16539224,16537581,97.5

In [125]:
#The final excel include those columns
path_siaf = r'C:\Users\Julian\OneDrive - pucp.edu.pe\Documentos\GitHub\summer_python_medialab\Lecture_7'

In [126]:
table_path = path_siaf+ '/regional_table.xlsx'
table_df.to_excel( table_path, index = False )